<div class="text-center text-light">
  <h1>Add Work</h1>
</div>

<div>
  <select name="type" id="type" class="form-select mb-3" [(ngModel)]="type">
    <option value="-1" selected disabled>Select Type...</option>
    <option value="design">Design</option>
    <option value="reel">Reel</option>
    <option value="campaign">Campaign</option>
    <option value="content">Content Plan</option>
    <option value="ad">Ad</option>
  </select>
  <input type="text" placeholder="Enter image url" class="form-control mb-3" [(ngModel)]="img"
    *ngIf="type != 'content'">
  <input type="text" placeholder="Enter HREF URL Link" class="form-control mb-3" [(ngModel)]="url"
    *ngIf="type == 'content' || type =='reel'">
  <input type="text" placeholder="Enter description" class="form-control mb-3" [(ngModel)]="description">
  <button class="myBtn" (click)="onSubmit()">Submit</button>
</div>