<div class="text-center text-light">
  <h1 class="hero-title">ABOUT ME</h1>
</div>
<div class="row justify-content-center fade-up-down">
  <div class="w-40 position-relative">
    <img src="assets/imgs/paper.webp" class="img-fluid">
    <p class="position-absolute paper-text">With over two years of experience in marketing, specializing in
      Social
      Media Strategy and Marketing,
      alongside 6 months of Account Management experience. Certified by Google and HP Life. Currently
      serving as the CEO, Account Manager, and Social Media Specialist at Sirius, a start-up in its early
      development stage.</p>
  </div>
</div>

<div class="row align-items-center justify-content-lg-between justify-content-center">
  <div class="myCard myCard-1-Position col-lg-3 col-9 mb-5">
    <div class="top-info row align-items-center">
      <div class="col-3">
        <img src="assets/imgs/ahmedMostafa.jpg" class="img-fluid rounded-div">
      </div>
      <p class="text-light m-0 p-0 col-7">MR AHMED MOSTAFA</p>
    </div>
    <div class="details my-4">
      <p>"Mahmoud Hilal’s marketing expertise has been transformative for my educational initiatives. His creativity and
        strategic approach are unmatched. Highly recommended!"</p>
    </div>
    <div class="recommended text-light">
      <h4>RECOMMENDED</h4>
    </div>
  </div>
  <div class="myCard myCard-2-Position col-lg-3 col-9 mb-5">
    <div class="top-info row align-items-center">
      <div class="col-3">
        <img src="assets/imgs/meswak.jpg" class="img-fluid rounded-div">
      </div>
      <p class=" m-0 p-0 col-7">Meswak</p>
    </div>
    <div class="details my-4">
      <p>"Mahmoud Hilal’s marketing strategies have significantly boosted our brand presence and patient engagement. His
        professionalism and results-driven approach are commendable!"</p>
    </div>
    <div class="recommended ">
      <h4>RECOMMENDED</h4>
    </div>
  </div>
  <div class="col-lg-4 col-8">
    <a href="https://drive.google.com/file/d/1nntLMl6FUwJTob8gIKPPSsi6eXdeTWiH/view?usp=sharing" target="_blank"
      class="myBtn cv-download text-decoration-none">
      DOWNLOAD CV
    </a>
  </div>
</div>

<a routerLink="/Work" class="text-decoration-none text-sec fs-1 next-btn"><i class="fa-solid fa-arrow-right"></i></a>