<div class="container">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <div id="overlay" style="display: none;">
    <button id="closeOverlay" class="close-btn"><i class="fas fa-times"></i></button>
    <div class="overlay-content">
      <ul>
        <li><a routerLink="/Home" [routerLinkActive]="'active'">Home</a></li>
        <li><a routerLink="/About" [routerLinkActive]="'active'">About Me</a></li>
        <li><a href="https://drive.google.com/file/d/1nntLMl6FUwJTob8gIKPPSsi6eXdeTWiH/view?usp=sharing"
            target="_blank">CV</a></li>
        <li><a routerLink="/Work" [routerLinkActive]="'active'">Work</a></li>
      </ul>
    </div>
  </div>
</div>