<div class="text-center text-light">
  <h1 class="hero-title">HELLO THERE !<br>I'M MAHMOUD HILAL</h1>
</div>
<div class="row align-items-center fade-up-down">
  <div class="col-lg-4 col-3">
    <ul class="p-0">
      <li>
        <a href="https://www.instagram.com/mahmoud.hilall/" target="_blank"><i
            class="fa-brands fa-instagram text-light fs-1 mb-4"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/mahmoud.helal.3990418" target="_blank"><i
            class="fa-brands fa-facebook text-light fs-1 mb-4"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/mahmoud-hilal12/" target="_blank"><i
            class="fa-brands fa-linkedin text-light fs-1 mb-4"></i></a>
      </li>
    </ul>
  </div>
  <div class="circle position-relative col-xl-4 col-lg-5 col-md-6 col-sm-9 col-7">
    <img src="assets/imgs/mahmoud.jpg" class="img-fluid rounded-circle">
    <div class="holder-img-container">
      <img src="assets/imgs/holder.png" class="img-fluid holder-img">
      <p class="holder-text">Marketing Specialist</p>
    </div>
  </div>

</div>
<a routerLink="/About" class="text-decoration-none text-sec fs-1 next-btn"><i class="fa-solid fa-arrow-right"></i></a>